<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>i am home.ejs file</h1>
    <% if(true){ %>
        <h1> <%= 1+1+1+1+1+1+1 %> </h1>
    <% } %>
</body>
</html>